@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Desenvolvido com carinho por <a href="https://www.linkedin.com/in/jeffersonamcosta" target="_blank">jeffersonamcosta</a></p>

